# Ignore emacs backup files
*~

# Ignore doc/build
# these are stored in gh-pages orphan branch
doc/build

# Ignore macOS cache files
.DS_Store

# Ignore testsuite file/directories
testsuite*
caselist*

# Ignore compiled .mod files
*.mod

# Ignore test case directories (no consistent name so we'll just ignore conda)
conda_*